/* Resume */

#resume {
  .link-to {
    position: relative;
    top: -4.5em;
  }

  .link-container {
    margin-top: 1em;

    h4 {
      text-decoration: none;
      border-bottom: none;
      display: inline-flex;
      margin: 0 0.25em;

      a {
        padding: 0.4em 0.8em;
        margin: 0;
        color: _palette(fg);
        font-weight: _font(weight-heading);
        text-transform: uppercase;
        letter-spacing: _font(kerning-heading);
        font-size: 0.7em;
        border: 1px solid _palette(border);
        border-radius: 3px;
        transition: all 0.2s ease;

        &:hover {
          color: _palette(accent);
          border-color: _palette(accent);
          background-color: _palette(bg-alt);
          cursor: pointer;
        }
      }
    }
  }

  .education {
    .title {
      text-align: center;
      margin-bottom: 2em;
    }
  }
  .experience {
    .title {
      text-align: center;
    }
    .job {
      margin: 1em;
      p {
        margin: 0;
      }
    }
  }

  .jobs-container {
    .points {
      li {
        margin: 0;
        padding: 0;
        font-size: 0.9em;
      }
    }
  }

  .courses {
    padding-top: 1.6em;
    .title {
      text-align: center;
    }
    .course-list {
      text-align: center;

      h4 {
        white-space: nowrap;
      }
    }
  }

  .skills {
    margin-top: 2em;
    .title {
      text-align: center;
      p {
        font-size: 0.9em;
      }
    }
  }

  .summary {
    margin-bottom: 0.5em;
    font-size: 0.9em;
  }

  .references {
    margin: 2em 0;
    .title {
      text-align: center;
    }
  }
}

.daterange {
  margin-bottom: 0.2em;
}

.degree-container {
  header {
    position: relative;
  }

  .degree-header {
    @include vendor("display", "flex");
    @include vendor("justify-content", "space-between");
    @include vendor("align-items", "flex-start");
    margin-bottom: 0.5em;

    .degree {
      font-weight: normal;
      margin-bottom: 0;
      text-transform: none;
      letter-spacing: 0.16em;
      font-size: 0.8em;
      @include vendor("flex-grow", "1");
    }

    .degree-gpa {
      font-size: 0.75em;
      color: _palette(fg-light);
      font-weight: _font(weight);
      white-space: nowrap;
      margin-left: 1em;
    }
  }

  .school {
    text-transform: none;
    padding-top: 0.3em;
    margin-bottom: 1em;
  }
}

.courses .course-number {
  display: inline;
  min-width: 9em;
  text-align: left;
  margin-right: 0.5em;
  font-weight: normal;
}

.courses .course-number-empty {
  display: inline-block;
  min-width: 9em;
  margin-right: 0.5em;
}

.courses .course-name {
  display: inline;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2.5;
  margin-top: -1em;
  text-transform: uppercase;
}

.courses ul li {
  display: inline;
}

.course-dot {
  display: inline;
  // display: none;
}

@include breakpoint(small) {
  .course-dot {
    display: none;
  }
  .course-container a {
    display: block;
  }
}
